body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 50px;
  width: 640px;
}
p,li {
  line-height: 1.8em;
}
span,
audio {
  display: block;
  margin-top: 0.5em;
}

strong {
  color:navy;
}

em {
  color: brown;
}

span.en {
  font-family: Georgia;
  font-size: 20px;
}

span.cn {
  font-family: Heiti;
}

audio {
  height: 2em;
}

/* 设置按钮和内容的基本样式 */
.button {
  position: fixed;
  bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

#btnCloseChinese {
  left: 10px;
}

#btnCloseExamples {
  right: 10px;
}

.fixed-checkboxes {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px;
  box-sizing: border-box;
}